.hero-sec {
    display: flex;
    background: #000;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    padding-top: 0px;
    h1 {
        font-weight: 200;
        // background-clip: text !important;
        // -webkit-background-clip: text !important;
        // -webkit-text-fill-color: transparent;
        // background: linear-gradient(to right, #2567F9, #FE4988 50%);
        // background-position: 0 0;
        transition: all 0.8s ease-in-out;
    }
    @media (max-width: 560px) {
        padding-top: 120px;
    }
}