header {
    position: relative;
    z-index: 99;
    background-color: rgba(0, 0, 0, 3);
    .navbar {
        position: absolute;
        left: 0;
        right: 0;
        // background: $clr-primary-dark;
        color: white;
        @media (max-width: 560px) {
            .navbar-brand {
                img {
                    height: 50px !important;
                }
            }
            .navbar-collapse {
                padding-bottom: 1rem;
                background-color: rgba(0, 0, 0, 3);
            }
        }
    }
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: rgba(255, 255, 255, 1);
            font-weight: 400;
            padding-left: 1rem;
            padding-right: 1rem;
            &:hover {
                color: $clr-primary;
            }
        }
    }
}

.faq-btn {
    color: #fff;
    background-color: #8a51fb;
    border-color: $clr-primary-dark;
    background-image: linear-gradient( 90deg, #6c03ff 5%, #9246ff);
    border-radius: 2rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    // background-clip: text !important;
    // -webkit-background-clip: text !important;
    // -webkit-text-fill-color: transparent;
    // background: linear-gradient(to right, #2567F9, #FE4988 50%);
    // background-position: 0 0;
    transition: all 0.8s ease-in-out;
}