.stake-sec {
    display: flex;
    background: #110031;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    transition: all 0.8s ease-in-out;
    background-image: './media/img/bg.png';
    .step-num {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        width: 60px;
        height: 60px;
        font-size: 1.75rem;
        font-weight: 700;
        border: 1px solid $clr-primary;
        transition: all 0.8s ease-in-out;
    }
    h1 {
        font-weight: 200;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(to right, #2567F9, #FE4988 50%);
        background-position: 0 0;
        transition: all 0.8s ease-in-out;
        font-weight: 200;
        margin-bottom: 2.5rem;
    }
    // &:hover {
    //     box-shadow: 10px 10px 100px 0 rgb(138 81 251);
    //     transition: all 0.8s ease-in-out;
    //     .step-num {
    //         border: 0px solid $clr-primary-dark;
    //         background-clip: text !important;
    //         -webkit-background-clip: text !important;
    //         -webkit-text-fill-color: transparent;
    //         background: linear-gradient(to right, #354c7e, #FE4988 50%);
    //         background-position: 0 0;
    //         transition: all 0.8s ease-in-out;
    //     }
    // }
}