  html {
      font-size: 14px;
      letter-spacing: 0.5px;
  }
  
  body {
      margin: 0;
      /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background: #110031;
  }
  
  section {
      padding: 5rem 0;
      @media(max-width: 480px) {
          padding: 2.5rem 0px;
      }
  }
  
  .sec-one {
      padding: 10rem 0;
  }
  
  .cta {
      button {
          border-radius: 2rem;
          font-size: 1rem;
          // text-transform: uppercase;
          font-weight: 300;
          padding: 0.75rem 1.75rem;
          margin-right: 0.5rem;
      }
  }
  
  .ownership {
      align-content: center;
      align-items: center;
  }
  
  h1 {
      font-weight: 200;
      background-clip: text !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(to right, #2567F9, #FE4988 50%);
      background-position: 0 0;
      transition: all 0.8s ease-in-out;
      b {
          font-weight: 700;
      }
  }
  
  .bg {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 0;
      max-width: 100%;
      margin: auto;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      pointer-events: none;
      -webkit-filter: blur(3px);
      filter: blur(3px);
      -webkit-animation: gradient_fadein__1rIK_ .3s ease forwards;
      animation: gradient_fadein__1rIK_ .3s ease forwards;
  }
  
  .sec-heading {
      margin-bottom: 2.5rem;
  }
  
  .btn {
      letter-spacing: 1px;
  }
  
  .btn-primary {
      color: #fff;
      background-color: $clr-primary;
      border-color: $clr-primary-dark;
      background-image: linear-gradient(90deg, $clr-primary-g1 5%, $clr-primary-g2);
  }
  
  .btn-primary.focus,
  .btn-primary:focus {
      color: #fff;
      background-color: $clr-primary;
      border-color: $clr-primary-dark;
      background-image: linear-gradient(90deg, $clr-primary-g1 5%, $clr-primary-g2);
      box-shadow: 0 0 0 0.2rem rgb(38 255 163 / 50%);
  }
  
  .btn-primary:hover {
      background-color: $clr-primary;
      border-color: $clr-primary-dark;
  }
  
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show>.btn-primary.dropdown-toggle {
      color: #fff;
      background-color: $clr-primary;
      border-color: $clr-primary-dark;
  }
  
  //   VIDEO
  .video {
      width: 150%;
      height: 100%;
  }
  /* Add some content at the bottom of the video/page */
  
  .content {
      position: absolute;
      top: 0;
      color: #f1f1f1;
      background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
  }
  
  .form-label {
      color: #f1f1f1;
  }
  
  .sub-content {
      text-align: center;
  }
  
  .sub-content img {
      display: none;
  }
  
  @media (min-width: 560px) {
      .vid-container {
          position: relative;
          height: 100%;
          overflow: hidden;
          width: 100vw;
      }
      /* Style the video: 100% width and height to cover the entire window */
      .video {
          width: 100%;
          height: 100%;
          opacity: 0.1;
      }
      /* Add some content at the bottom of the video/page */
      .content {
          position: absolute;
          top: 0;
          color: #f1f1f1;
          background-color: rgba(0, 0, 0, 0.1);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5rem 0;
      }
      .sub-content {
          text-align: center;
          padding: 10px;
      }
      .sub-content img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          display: block;
          margin: 15px auto;
          border: #f1f1f1 1px solid;
          opacity: 0.4;
      }
  }
  
  @media (min-width: 768px) {
      .video {
          width: auto;
      }
      .content {}
  }
  
  @media (max-width: 768px) {
      .video {
          min-height: auto;
      }
      .content {
          min-height: auto;
      }
  }
  
  @media (max-width: 567px) {
      .video {
          display: none;
      }
      .content {
          position: relative;
          background-color: rgba(0, 0, 0, 0);
      }
  }
  
  .navbar-dark .navbar-toggler {
      color: hsl(0deg 0% 100%);
      border-color: hsl(0deg 0% 100% / 0%);
  }